.carousel-container {
  margin-top: 15%;

  .slick-dots {
    bottom: -86px !important;
  }

  .referred-profile-picture {
    width: 40px !important;
    height: 40px !important;
  }

  .slick-slide img {
    margin: auto;
  }

  .slick-slider .slick-arrow.slick-next {
    right: 0 !important;
    background: unset;
  }

  .slick-slider .slick-arrow.slick-prev {
    left: 0 !important;
    background: unset;
  }

  .slick-slider .slick-arrow:before {
    color: #444a61;
  }
}

img {
  width: 150px;
}
